
//$bg-color: #ff7979;


@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt,wght.ttf")
  format("trueType");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

$font: 'Inter', sans-serif;