@use "../styles/abstracts/functions" as media;

.section__wrap {
  @include media.desktop {
    max-width: 1188px;
    margin: auto;
    display: flex;
    padding: 0 39px;
    gap: 30px;
  }
}

.layout {
  @include media.desktop {
    max-width: 1188px;
    margin: auto;
  }
}

.page__wrap {
  position: relative;
  &.dark__mode {
    /*background: #807f8a;*/
    //opacity: 0.5;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #00001a;
      opacity: 0.5;
    }
  }
}
