@use "../styles/abstracts/functions" as media;

.news__container__wrap {
  margin-bottom: 64px;
  padding: 0 16px;

  .layout {
    padding: 0;
    background-color: #00001a;
  }
}

.news__container {
  padding: 24px 20px;

  @include media.desktop {
    padding: 29px 24px;
  }
}

.heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #e9aa52;

  @include media.desktop {
    font-size: 40px;
    line-height: 40px;
  }
}
