

.header__active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 601px) {
    .header__active {
       box-shadow: none;
    }
}

body .show__modal {
    transform: translateX(0);
}

/*.show__modal {*/
/*    opacity: 1;*/
/*}*/

/*.show__modal .modal__window {*/
/*    transform: translateX(100%);*/
/*}*/